{{> header itemtype="http://schema.org/WebPage" title=404.title description=404.description}}
<div class="uk-text-center">
<a href="/"><img src="/img/40bg.jpg"/></a>
<h1>{{404.title}}</h1>
<p>{{404.description}}</p>
</div>
{{> footer }}