{{> header itemtype="http://schema.org/ContactPage" title=contact.title description=contact.description}}
{{> crumb page="Contact"}}
<article itemprop="about" class="uk-article">
    <h1 class="uk-article-title">Contact</h1>
    <p class="uk-article-lead">How to get in touch...</p>
    <dl class="uk-description-list-line">
        <dt><span class="uk-icon-twitter"></span>&nbsp; Twitter</dt>
        <dd>Connect with me on twitter <a href="https://twitter.com/docodemore">@docodemore</a></dd>
        <dt><span class="uk-icon-linkedin"></span>&nbsp; LinkedIn</dt>
        <dd>Connect with me on LinkedIn <a href="https://www.linkedin.com/pub/matthew-mcfarland/6a/b9a/135">here</a></dd>
        <dt><span class="uk-icon-github"></span>&nbsp; Github</dt>
        <dd>Follow me on Github <a href="https://github.com/MattMcFarland">here</a></dd>
        <dt><span class="uk-icon-file-text"></span>&nbsp; Blog</dt>
        <dd>Follow me on Medium <a href="https://medium.com/@docodemore">here</a></dd>
        <dt><span class="uk-icon-envelope"></span>&nbsp; Message</dt>
        <dd>IF you would like to send me a direct message, please consider doing so on <a href="https://twitter.com/docodemore">twitter</a>.</dd>
    </dl>
</article>
{{> footer }}