{{> header }}
<article class="uk-article">
    <header>
        <h1 class="uk-article-title">{{index.title}}</h1>
        <p class="uk-article-lead">{{index.description}}</p>
    </header>
</article>
{{> footer }}