<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="author" content="Matt McFarland">
    <meta name="publisher" content="McFarland BEATS">
    <meta name="copyright" content="2005-2015 (c) Matt McFarland - All Rights Reserved">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">


</head>
<body itemscope itemtype="{{itemtype}}">
<style>
    li { line-height: 2; }
    td { line-height: 2; }
</style>
<script>
    var cb = function() {
        var l = document.createElement('link'); l.rel = 'stylesheet';
        l.href = '/css/uikit.min.css';
        var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
            webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(cb);
    else window.addEventListener('load', cb);
</script>
<script>
    var cb = function() {
        var l = document.createElement('link'); l.rel = 'stylesheet';
        l.href = '/css/uikit.gradient.min.css';
        var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
    };
    var raf = requestAnimationFrame || mozRequestAnimationFrame ||
            webkitRequestAnimationFrame || msRequestAnimationFrame;
    if (raf) raf(cb);
    else window.addEventListener('load', cb);
</script>
<nav itemscope itemtype="http://schema.org/SiteNavigationElement" class="uk-navbar">

    <a title="www.mattmcfarland.com" rel="home" href="/" class="uk-navbar-brand">McFarland BEATS</a>
    <ul class="uk-navbar-nav">
        <li><a title="Home Page" rel="nofollow" href="/">Music</a></li>
        <li><a title="About McFarland BEATS" rel="canonical" href="/about">About</a></li>
        <li><a title="Licensing information regarding the music on McFarland BEATS" rel="canonical" href="/license">License</a></li>
        <li><a title="Contact page to reach Matt McFarland" rel="canonical" href="/contact">Contact</a></li>
    </ul>
</nav>
<main class="uk-container uk-container-center">
    <div class="uk-block uk-block-large">
